@model BookDetailViewModel

<!--================Single Product Area =================-->
<div class="product_image_area">
    <div class="container">
        <div class="row s_product_inner">
            <div class="col-lg-6">
                <div class="owl-carousel owl-theme s_Product_carousel">
                    <div class="single-prd-item">
                        @{
                            string imageSource = !string.IsNullOrEmpty(Model.Book.ImageUrl) ? $"~/uploads/{@Model.Book.ImageUrl}" : "~/uploads/default.jpg";
                        }
                        <img id="rasm" class="img-fluid" src="@imageSource" asp-append-version="true" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <div class="s_product_text">
                    <h3 id="title">@Model.Book.Title</h3>
                    <h3>@Model.Book.Author</h3>
                    <h2 id="price">@Model.Book.Price</h2>
                    <ul class="list">
                        <li><a class="active" href="#"><span>Category</span> : @Model.Book.Category.Name</a></li>
                        @* <li><a href="#"><span>Availibility</span> : In Stock</a></li> *@
                    </ul>
                    <p>
                        @Model.Book.Description
                    </p>
                    <div class="product_count">
                        <form asp-controller="home"
                              asp-action="AddToCart"
                              method="post">
                            <label for="qty">Quantity:</label>

                            <input asp-for="BookId" type="hidden" value="@Model.Book.Id" id="bookId" />
                            <input asp-for="Quantity" type="number" id="quantity" size="2" maxlength="12" title="Quantity:" class="input-text qty">
                            @*< button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;"
                            class="reduced items-count" type="button">
                            <i class="ti-angle-right"></i>
                            </button> *@
                            <button type="submit" class="btn btn-primary">Add to Cart</button>
                        </form>
                    </div>
                    @*< div class="card_area d-flex align-items-center">
                    <a class="icon_btn" href="#"><i class="lnr lnr lnr-diamond"></i></a>
                    <a class="icon_btn" href="#"><i class="lnr lnr lnr-heart"></i></a>
                    </div> *@
                </div>
            </div>
        </div>
    </div>
</div>
<!--================End Single Product Area =================-->
<!--================Product Description Area =================-->
<section class="product_description_area">
    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">Specification</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
                   aria-selected="false">Comments</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <h5>Title</h5>
                                </td>
                                <td>
                                    <h5>@Model.Book.Title</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Author</h5>
                                </td>
                                <td>
                                    <h5>@Model.Book.Author</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Category</h5>
                                </td>
                                <td>
                                    <h5>@Model.Book.Category.Name</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Page Count</h5>
                                </td>
                                <td>
                                    <h5>@Model.Book.PageCount</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Published Year</h5>
                                </td>
                                <td>
                                    <h5>@Model.Book.PublishedYear</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Price</h5>
                                </td>
                                <td>
                                    <h5>@Model.Book.Price</h5>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="comment_list">
                            @foreach (var comment in Model.Comments)
                            {
                                <div class="review_item">
                                    <div class="media">
                                        <div class="d-flex">
                                            @{
                                                string avatarUrl = !string.IsNullOrEmpty(comment.User.AvatarUrl) ? $"~/uploads/{@comment.User.AvatarUrl}" : "~/uploads/user.png";
                                            }
                                            <img src="@avatarUrl" asp-append-version="true" alt="">
                                        </div>
                                        <div class="media-body">
                                            <h4>@comment.User.FirstName @comment.User.LastName</h4>
                                            <h5>@comment.CommentedTime</h5>
                                            <a class="reply_btn" onclick="activeReply(@comment.Id)">Reply</a>
                                            @if (comment.UserId == Model.UserId)
                                            {
                                                <a asp-controller="comment"
                                                   asp-action="delete"
                                                   asp-route-id="@comment.Id"
                                                   asp-route-bookId="@comment.BookId"
                                                   class="text-danger">Delete</a>
                                            }
                                        </div>
                                    </div>
                                    <p>
                                        @comment.Content
                                    </p>
                                </div>
                                @foreach (var reply in comment.Replies)
                                {
                                    <div class="review_item reply">
                                        <div class="media">
                                            <div class="d-flex">
                                                @{
                                                    string avatarUrl1 = !string.IsNullOrEmpty(reply.User.AvatarUrl) ? $"~/uploads/{@reply.User.AvatarUrl}" : "~/uploads/user.png";
                                                }
                                                <img src="@avatarUrl1" asp-append-version="true" alt="">
                                            </div>
                                            <div class="media-body">
                                                <h4>@reply.User.FirstName @reply.User.LastName</h4>
                                                <h5>@reply.CommentedTime</h5>
                                                @if (reply.UserId == Model.UserId)
                                                {
                                                    <a asp-controller="comment"
                                                       asp-action="delete"
                                                       asp-route-id="@comment.Id"
                                                       asp-route-bookId="@comment.BookId" class="text-danger">Delete</a>
                                                }
                                            </div>
                                        </div>
                                        <p>
                                            @reply.Content
                                        </p>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="review_box">
                            <h4 id="commentFormTitle">Post a comment</h4>
                            <form asp-controller="comment"
                                  asp-action="add" class="row contact_form" method="post" id="contactForm">
                                <input asp-for="BookId" type="hidden" value="@Model.Book.Id" id="bookId" />
                                <input id="isReply" asp-for="IsReply" type="checkbox" class="d-none" />
                                <input asp-for="CommentId" id="commentId" type="hidden"/>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea asp-for="Comment" class="form-control" id="message" rows="5" placeholder="Message"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12 text-right">
                                    <button type="button" class="d-none btn btn-secondary" id="cancelButton" onclick="activeComment()">Cancel</button>
                                    <button type="submit" value="submit" class="btn btn-primary">Submit Now</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Product Description Area =================-->

<script>
    var title = document.getElementById("commentFormTitle");
    var message = document.getElementById("message");
    var cancelButton = document.getElementById("cancelButton");
    var isReply = document.getElementById("isReply");
    var commentId = document.getElementById("commentId");

    function activeReply(id) {
        title.innerHTML = "Reply a comment";
        message.focus();
        cancelButton.classList.remove("d-none");
        isReply.checked = true;
        commentId.value = id;
    }

    function activeComment() {
        title.innerHTML = "Post a comment";
        cancelButton.classList.add("d-none");
        isReply.checked = false;
    }

    var title = document.getElementById("title");
    var price = document.getElementById("price");
    var rasm = document.getElementById("rasm");
    var quantity = document.getElementById("quantity");
    var bookId = document.getElementById("bookId");
    var cartCount = document.getElementById("cartCount");

    var product = {
        "id": bookId.value,
        "title": title.innerHTML,
        "price": price.innerHTML,
        "rasm": rasm.src,
        "quantity": quantity.value
    }


    function addToCart() {
        var cart = JSON.parse(localStorage.getItem("cart"));
        if (cart == null) {
            cart = [];
        }
        var isExist = false;
        for (var i = 0; i < cart.length; i++) {
            if (cart[i].id == product.id) {
                cart[i].quantity = parseInt(cart[i].quantity) + parseInt(product.quantity);
                isExist = true;
                break;
            }
        }
        if (!isExist) {
            cart.push(product);
        }
        localStorage.setItem("cart", JSON.stringify(cart));
        cartCount.innerHTML = cart.length;
    }
</script>